.panel {
  background: var(--xenon-color-bg-container, #fff);
  border-radius: var(--xenon-border-radius-lg);
  padding: var(--xenon-padding-sm);
  margin-top: var(--xenon-padding);
  margin-left: 16px;
  margin-right: 16px;
}
