.status-page {
  width: 100%;
  height: 100%;
  padding: 16px;
  position: relative;
}

@media (max-width: 1200px) {
  .status-page {
    padding: 8px;
  }
}

@media (max-width: 768px) {
  .status-page {
    overflow: auto;
    height: auto;
  }
}
